name: Rust
on:
  push:
    branches: [ "trunk" ]
  pull_request:
    branches: [ "trunk" ]
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Setup pages
      id: pages
      uses: actions/configure-pages@v4
    - name: Clean docs folder
      run: cargo clean --doc
    - name: Build docs
      run: cargo doc --no-deps
    - name: Remove lock file
      run: rm target/doc/.lock
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: target/doc
  deploy:
    name: Deploy
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
